<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shuiyes.video"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.SVApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- android:windowSoftInputMode="adjustUnspecified|stateHidden" -->
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/ActTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/PlayerTheme">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.vip.VipActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.youku.YoukuSoActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".ui.youku.YoukuVActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.letv.LetvSoActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".ui.letv.LetvVActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.iqiyi.IQIyiSoActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".ui.iqiyi.IQiyiVActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.qq.QQVActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.qq.QQSoActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="landscape"
            />

        <activity
            android:name=".ui.mgtv.MgtvVActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.mgtv.MgtvSoActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.mdd.MDDVActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.mdd.MDDSoActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.cbchot.CBChotVActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.cbchot.CBChotSoActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.tvlive.TVListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.tvlive.TVBusActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.tvlive.SopPlusActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.tvlive.BuptIVIActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.tvlive.SuzhouCMCCActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.tvlive.TVPlayActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenAppCompat" />

        <service android:name="com.tvbus.engine.TVService"/>

    </application>

</manifest>